# Core web requirements
fastapi<0.110.0,>=0.109.0
uvicorn[standard]==0.22.0
python-multipart>=0.0.7
websockets>=10.4

# Authentication
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4

# Database
sqlalchemy>=2.0.27
alembic>=1.13.1

# Environment
python-dotenv>=1.0.0

# HTTP client
httpx>=0.25.1
requests>=2.32.0

# Utilities
pydantic>=2.4.2
email-validator>=2.0.0
PyYAML>=6.0.0
tqdm>=4.66.1
asyncio>=3.4.3
aiofiles>=23.1.0

# Analytics
posthog==3.0.2

# Payments
stripe==7.0.0
